
 /* Wrapper */
.theme-paper { } /* Just all default HTML colors */
.theme-deepforest {
    background-color: #0b0800;
    color: #f7fff7;
    font-family: "Georgie", "Droid Serif", "Bitstream Charter", serif;
}
.theme-deepforest a {
    color: #6fff4f;
    text-decoration: none;
}
.theme-deepforest a:visited {
    color: #9fcf2f;
}
.theme-deepforest a:hover {
    text-decoration: underline;
}
.theme-deepforest a:focus, .theme-deepforest a:active {
    outline: none;
    text-decoration: underline;
    color: #ffbf6f;
}
#screen {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 0.4em;
    z-index: -2;
}
#main {
}
 /* Misc */
.hidden {
    display: none;
}
.hidden#kanji-outer {
    display: block;
    visibility: hidden;
}
.clickable {
    cursor: pointer;
}
.aclickable {
    cursor: auto;
}
.okurigana {
    color: #6f6f6f;
}
.theme-deepforest .okurigana {
    color: #909890;
}
.okurigana:before {
    content: ".";
}
 /* Control block */
#control {
    width: 32em;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 0.2em;
    cursor: auto;
}
#control-hider {
    display: none;
}
#control-header {
    padding: 0.2em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    text-align: center;
}
#title {
    float: left;
    font-weight: bold;
}
#control-label {
    cursor: pointer;
    float: right;
}
#control-label:before {
    content: "Show ";
}
#control-label:after {
    content: " ▼";
}
#control-hider:checked ~ #control-header #control-label:before {
    content: "Hide ";
}
#control-hider:checked ~ #control-header #control-label:after {
    content: " ▲";
}
#control-body {
    display: none;
    padding: 0.2em;
    padding-left: 0.6em;
    text-align: center;
    clear: both;
}
#control-hider:checked ~ #control-body {
    display: block;
}
#control-body > button {
    margin: 0.4em;
    width: 7.5em;
}
#settings-undo {
    float: right;
    margin-top: 1em;
}
#settings-show {
    clear: both;
}
.settings-half {
    display: inline-block;
    width: 14em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}
#settings-show .settings-half {
    text-align: left;
}
.settings-label {
    margin-left: 1em;
}
#settings-show input {
    margin-left: 2em;
}
#settings-style select {
    margin-right: 0.2em;
}
#acknowledgements {
    margin-top: 0.4em;
    font-size: 70%;
    font-style: italic;
}

 /* Main body */
#status {
    margin: 1em;
    text-align: center;
    font-style: italic;
}
#card {
    width: 32em;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}
#kanji-outer {
    text-align: center;
}
#kanji {
    font-size: 1000%;
}
.select-barrier {
    display: inline-block;
    width: 0em;
    height: 0em;
    overflow: hidden;
}
.font-gothic .jp {
    font-family: sans-serif;
}
.font-mincho .jp {
    font-family: serif;
}
.card-field {
    padding: 0.2em;
    font-size: 200%;
    text-align: center;
}
.card-field:empty {
    padding: 0em;
}
.card-field > span {
    white-space: pre;
}
#buttons button {
    font-size: 400%;
    margin-top: 1em;
    width: 1.4em;
    height: 1.4em;
    cursor: pointer;
}
#no {
    float: left;
}
#yes {
    float: right;
}

#screen-left, #screen-right {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    cursor: pointer;
    z-index: -1;
}
#screen-left {
    left: 0;
}
#screen-right {
    right: 0;
}

#finished {
    width: 32em;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    text-align: center;
}
#finished button {
    margin-left: 0.4em;
    margin-right: 0.4em;
    width: 7.4em;
}
.finished-half {
    display: inline-block;
    width: 14em;
    margin-top: 1em;
    margin-bottom: 1em;
    vertical-align: top;
}
#correct, #incorrect {
    margin-left: 0.4em;
    margin-right: 0.4em;
    margin-top: 0.2em;
    font-size: 150%;
    letter-spacing: 0.1em;
}

#deck-builder {
    width: 32em;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    text-align: center;
    cursor: auto;
}
#deck-builder > button {
    margin: 1em;
}
.hide-db-section {
    display: none;
}
.db-section {
    padding: 0.2em;
    padding-right: 0.4em;
    border-top: 1px solid;
    clear: both;
}
.db-title {
    float: left;
}
#import-section .db-title {
    margin-left: 1.6em;
}
.db-label {
    cursor: pointer;
    float: right;
}
.db-label:after {
    content: " ▼";
}
.hide-db-section:checked + .db-section .db-label:after {
    content: " ▲";
}
.db-body {
    display: none;
    clear: both;
}
#deck-builder > .db-section {
    border-bottom: 1px solid;
}
.hide-db-section:checked + .db-section .db-body {
    display: block;
}
.grade-select {
    font-size: 200%;
    text-align: left;
}
.grade-select > div {
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    text-align: center;
    color: #989898;
    cursor: pointer;
}
.theme-deepforest .grade-select > div {
    color: #889088;
}
.grade-select > div.use {
    color: inherit;
}
#import-buttons > button {
    margin: 1em;
    margin-top: 0em;
    margin-bottom: 0.5em;
}
#import-text {
    width: 99%;
    height: 8em;
    margin-bottom: 0.5em;
}

