
 /* Wrapper */
.theme-paper { } /* Just all default HTML colors */
.theme-deepforest {
    background-color: #0b0800;
    color: #f7fff7;
    font-family: "Georgie", "Droid Serif", "Bitstream Charter", serif;
}
.theme-deepforest a {
    color: #6fff4f;
    text-decoration: none;
}
.theme-deepforest a:visited {
    color: #9fcf2f;
}
.theme-deepforest a:hover {
    text-decoration: underline;
}
.theme-deepforest a:focus, .theme-deepforest a:active {
    outline: none;
    text-decoration: underline;
    color: #ffbf6f;
}
#screen {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 0.4em;
    z-index: -2;
}
#main {
}
 /* Misc */
.hidden {
    display: none;
}
.hidden#kanji {
    display: block;
    visibility: hidden;
}
.clickable {
    cursor: pointer;
}
.aclickable {
    cursor: auto;
}
.okurigana {
    color: #7f7f7f;
}
.okurigana:before {
    content: ".";
}
 /* Control block */
#control {
    width: 32em;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 0.2em;
    cursor: auto;
}
#control-hider {
    display: none;
}
#control-header {
    padding: 0.2em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    text-align: center;
}
#title {
    float: left;
    font-weight: bold;
}
#control-label {
    cursor: pointer;
    float: right;
}
#control-label:before {
    content: "Show ";
}
#control-label:after {
    content: " ▼";
}
#control-hider:checked ~ #control-header #control-label:before {
    content: "Hide ";
}
#control-hider:checked ~ #control-header #control-label:after {
    content: " ▲";
}
#control-body {
    display: none;
    padding: 0.2em;
    padding-left: 0.6em;
    text-align: center;
}
#control-hider:checked ~ #control-body {
    display: block;
}
#settings-grades {
    text-align: center;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    float: left;
}
#settings-grades button {
    margin-bottom: 0.2em;
}
#settings-grades input {
    margin-left: 0.8em;
}
#settings-undo {
    float: right;
    margin-top: 1em;
}
#settings-show {
    clear: both;
}
.settings-half {
    display: inline-block;
    width: 14em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}
#settings-show .settings-half {
    text-align: left;
}
#settings-show input {
    margin-left: 1em;
}
#settings-style select {
    margin-right: 0.2em;
}
#acknowledgements {
    margin-top: 0.4em;
    font-size: 80%;
    font-style: italic;
}

 /* Main body */
#status {
    width: 32em;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-style: italic;
}
#card {
    width: 32em;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}
#kanji {
    font-size: 1000%;
    text-align: center;
}
.font-gothic .jp {
    font-family: sans-serif;
}
.font-mincho .jp {
    font-family: serif;
}
.card-field {
    padding: 0.2em;
    font-size: 200%;
    text-align: center;
}
.card-field:empty {
    padding: 0em;
}
.card-field > span {
    white-space: pre;
}
#everything {
    padding: 0.6em;
}
#buttons button {
    font-size: 400%;
    margin-top: 1em;
    width: 1.4em;
    height: 1.4em;
    cursor: pointer;
}
#no {
    float: left;
}
#yes {
    float: right;
}

#screen-left, #screen-right {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    cursor: pointer;
    z-index: -1;
}
#screen-left {
    left: 0;
}
#screen-right {
    right: 0;
}

